@use '../abstracts/' as *;

.cursordiv {
	height: 5rem;
	width: 5rem;
	z-index: 1;
	position: absolute;
	background-color: blue;
}

.herosection {
	padding: 1rem 0;

	@include devices(tablet) {
		padding: 3rem 0;
	}

	&__wrapper {
		display: flex;
		padding: 3rem 0;
		justify-content: center;
		gap: 2rem;
		flex-direction: column;

		@include devices(tablet) {
			gap: 3rem;
		}
	}

	&__info {
		text-align: center;
	}

	&--h3 {
		font-size: clamp(0.95rem, 0.5rem + 2.2vw, 1.15rem);
		font-family: 'Fira Code', monospace;
		// color: $secondary;
	}

	&--h1 {
		font-size: clamp(2rem, 1rem + 2.2vw, 7rem);
		font-family: 'Tomato Grotesk bold';
		letter-spacing: 2px;
	}

	&--h5 {
		font-size: clamp(1.4rem, 0.8rem + 2.2vw, 5rem);
		letter-spacing: 2px;
		font-family: 'Tomato Grotesk bold';

		display: inline-block;

		@include devices(headerbreakpoint) {
			letter-spacing: 4px;
			line-height: 60px;
		}

		&:hover {
			text-decoration: underline;
			text-underline-offset: 8px;
		}
	}

	&__more {
		display: flex;
		gap: 0.3rem;
		flex-direction: column;
		align-items: center;

		p {
			font-size: clamp(0.85rem, 0.2rem + 2.2vw, 1.05rem);
			font-weight: 400;
			letter-spacing: 1px;

			@include devices(uptotablet) {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			span {
				margin-left: 0.3rem;
				font-family: 'Fira Code', monospace;
				letter-spacing: 0;
			}
		}

		&--workingat {
			@include devices(uptotablet) {
				display: flex;
				flex-direction: column;
			}
		}
	}

	&__social {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	&--h6 {
		font-size: clamp(0.95rem, 0.2rem + 2.2vw, 1.2rem);
		margin-bottom: 1.5rem;
		font-weight: 400;
	}

	&__sociallinks {
		display: flex;
		align-items: center;
		gap: 1.8rem;

		@include devices(tablet) {
			gap: 2rem;
		}

		svg {
			font-size: 1.3rem;
			transition: 0.3s ease;

			@include devices(tablet) {
				font-size: 1.7rem;
			}

			&:hover {
				color: $secondary;
			}
		}
	}

	&__arrow {
		position: relative;
		padding: 1rem 0;

		@include devices(tablet) {
			padding: 5rem 0;
		}

		svg {
			position: absolute;
			font-size: 2rem;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			animation: arrowupdown 4s ease infinite;
		}
	}
}

@keyframes arrowupdown {
	0% {
		transform: translateY(0rem);
		scale: 1;
	}
	50% {
		transform: translateY(3rem);
		scale: 1.2;
	}
	to {
		transform: translate(0rem);
		scale: 1;
	}
}

.bottomaside {
	position: absolute;
	bottom: 10rem;
	right: -7.8rem;
	transform: rotate(90deg);
	transition: 0.3s ease all;

	@include devices(uptotablet) {
		display: none;
	}

	& > span {
		cursor: pointer;
		letter-spacing: 1px;
		transition: 0.3s ease all;
		font-size: 0.9rem;
	}

	&:hover {
		scale: 1.05;
	}
}
