@use '../abstracts' as *;

.cursordiv {
	height: 20rem;
	width: 20rem;
	border-radius: 50%;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 99;
	opacity: 0.2;
	filter: blur(5rem);
}

.herosection {
	padding: 3rem 0;

	@include devices(tablet) {
		padding: 5rem 0;
	}

	@include devices(uptomobile) {
		min-height: 70vh;
	}

	&__wrapper {
		display: flex;
		padding: 3rem 0;
		justify-content: center;
		gap: 2rem;
		flex-direction: column;

		@include devices(tablet) {
			gap: 3rem;
		}
	}

	&__info {
		text-align: center;
	}

	&--h1 {
		font-size: clamp(2rem, 1rem + 2.2vw, 7rem);
		font-family: $tomatoBold;
		letter-spacing: 2px;
		margin-bottom: 1.5rem;
	}

	&__more {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 2rem;
		gap: 0.5rem;

		&__inside {
			display: flex;
			gap: 0.5rem;
			align-items: center;
			justify-content: center;
		}

		span {
			font-size: clamp(0.7rem, 0.2rem + 1vw, 0.8rem);
			font-weight: 400;
			color: $light-gray;
			letter-spacing: 1px;
		}

		&--paragraph {
			margin-inline: auto;
			font-size: clamp(0.9rem, 0.2rem + 1.5vw, 1rem);
			font-weight: 400;
			text-align: center;
			opacity: 0.9;

			// color: #e3e4e7;
			// font-family: $fira-code;
			// letter-spacing: 1px;

			@include devices(tablet) {
				max-width: 30rem;
			}

			@include devices(headerbreakpoint) {
				max-width: 45rem;
			}

			a {
				display: inline-block;
				margin: 0 0.5rem;
				font-weight: 700;
				color: $secondary;
			}
		}

		&--workingat {
			@include devices(uptotablet) {
				display: flex;
				flex-direction: column;
			}
		}
	}

	&--link {
		background-color: transparent;
		border: 1px solid $secondary;
		display: inline-block;
		padding: 0.4rem 3rem;
		font-size: clamp(0.9rem, 0.2rem + 1.5vw, 1rem);
		transition: 0.3s ease;

		&:hover {
			background-color: $secondary;
			color: black;
		}
	}

	&__social {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	&--h6 {
		font-size: clamp(0.95rem, 0.2rem + 2.2vw, 1.2rem);
		margin-bottom: 1.5rem;
		font-weight: 400;
	}

	&__sociallinks {
		display: flex;
		align-items: center;
		gap: 1.8rem;

		@include devices(tablet) {
			gap: 2rem;
		}

		svg {
			font-size: 1.3rem;
			transition: 0.3s ease;

			@include devices(tablet) {
				font-size: 1.7rem;
			}

			&:hover {
				color: $secondary;
			}
		}
	}

	&__arrow {
		position: relative;
		padding: 1rem 0;

		@include devices(tablet) {
			padding: 5rem 0;
		}

		svg {
			position: absolute;
			font-size: 1.3rem;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			animation: arrowupdown 4s ease infinite;

			@include devices(tablet) {
				font-size: 2rem;
			}
		}
	}
}

@keyframes arrowupdown {
	0% {
		transform: translateY(0rem);
		scale: 1;
	}
	50% {
		transform: translateY(3rem);
		scale: 1.2;
	}
	to {
		transform: translate(0rem);
		scale: 1;
	}
}

.bottomaside {
	position: absolute;
	bottom: 14rem;
	right: -7.8rem;
	transform: rotate(90deg);
	transition: 0.3s ease all;

	@include devices(uptotablet) {
		display: none;
	}

	& > span {
		cursor: pointer;
		letter-spacing: 1px;
		transition: 0.3s ease all;
		font-size: 0.9rem;
	}

	&:hover {
		scale: 1.05;
	}
}

.about {
	padding: 6rem 0;

	&__wrapper {
		text-align: center;

		@include devices(tablet) {
			// padding: 0 1rem;
			text-align: left;
		}

		@include devices(headerbreakpoint) {
			padding: 0 3rem;
		}

		@include devices(smalldisplay) {
			padding: 0 5rem;
		}

		@include devices(largedisplay) {
			padding: 0 8rem;
		}
	}

	&__main {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: 1rem;

		@include devices(tablet) {
			grid-template-columns: 1fr 1fr;
			gap: 2rem;
		}
	}

	&__content {
		padding: 2rem 0;

		&__group {
			p {
				margin-bottom: 1rem;
				font-size: 0.79rem;
				font-family: $fira-code;
				font-weight: 400;
				letter-spacing: 1px;
				line-height: 2rem;

				@include devices(tablet) {
					font-size: 0.9rem;
					line-height: 2.2rem;
				}

				@include devices(smalldisplay) {
					margin-bottom: 1.5rem;
				}
			}

			strong {
				color: #01e0c8;
			}
		}
	}

	&--figure {
		position: relative;
	}

	&__image {
		display: flex;
		align-items: center;
		justify-content: center;
		position: sticky;
		top: 0;

		@include devices(tablet) {
			justify-content: flex-end;
		}

		&-outlinefilled {
			width: 15rem;
			height: 19rem;
			position: absolute;
			top: 5%;
			left: 8%;
			z-index: 1;

			@include devices(tablet) {
				width: 20rem;
				height: 25rem;
				top: 8%;
				left: 8%;
			}
		}

		&-outlineshade {
			border: 2px solid;
			width: 15rem;
			height: 20rem;
			position: absolute;
			top: -5%;
			left: -5%;
			z-index: 1;

			@include devices(tablet) {
				width: 20rem;
				height: 25rem;
				top: -8%;
				left: -8%;
			}
		}

		&:hover {
			.hover1 {
				top: 8%;
				left: 8%;
			}
			.hover2 {
				top: -8%;
				left: -8%;
			}
		}
	}

	&--image {
		max-height: 20rem;
		max-width: 15rem;
		object-fit: cover;
		z-index: 2;
		position: relative;

		@include devices(tablet) {
			max-height: 25rem;
			max-width: 20rem;
		}
	}
}

$open_sans: 'Open Sans', sans-serif;
$main_background-color: #0a0b1f;
$secandary_background-color: #07081c;
$white_text_color: #ffff;
$dim_white_text_color: #8893b1;
$secondary_text_color: #01e0c8;

.contact {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	text-align: center;
	padding: 5rem 0;

	@media screen and (min-width: 1080px) {
		margin: 5rem auto;
	}

	&__content {
		max-width: 50rem;
		margin: 0 auto;

		p {
			// font-family: $fira-code;
			font-family: 'Tomato Grotesk bold';
			font-weight: 600;
			font-size: 1.2rem;
			line-height: 1.8rem;
			color: $dim_white_text_color;
			margin-bottom: 1rem;

			@include devices(tablet) {
				font-size: 1.9rem;
				line-height: 2.7rem;
				letter-spacing: 1px;
			}
		}
	}

	&__button {
		a {
			font-size: 1rem;
			padding: 0.5rem 2rem;
			background-color: $main_background-color;
			border: 2px solid $secondary_text_color;
			cursor: pointer;
			border-radius: 0.2rem;
			transition: 0.3s ease-in-out;
			font-weight: 500;
			width: fit-content;
			margin: 0 auto;

			&:hover {
				background-color: $secondary_text_color;
				color: $main_background-color;
			}

			&:focus {
				border: none;
			}
		}
	}
}

.works {
	padding: 6rem 0;

	&--heading {
		text-align: center;

		// background-color: red;
	}

	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 4rem;
		flex-direction: column;
		// background-color: blue;

		@include devices(headerbreakpoint) {
			padding: 0 3rem;
		}

		@include devices(smalldisplay) {
			padding: 0 5rem;
		}

		@include devices(largedisplay) {
			padding: 0 8rem;
		}
	}

	&__main {
		// background-color: green;
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	&--link {
		border: 2px solid $secondary;
		width: fit-content;
		padding: 0.6rem 2rem;
		transition: 0.3s ease;
		color: white;

		&:hover {
			background-color: #01e0c8;
			color: black;
		}
	}
}

.workcard {
	width: fit-content;
	border: 2px solid transparent;
	transition: 0.3s ease;

	&:hover {
		background-color: rgba($color: #040516, $alpha: 1);

		hr {
			width: 100%;
		}
	}

	&__wrapper {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: 0.5rem;

		@include devices(tablet) {
			grid-template-columns: 1fr 2fr;
			gap: 2rem;
		}
	}

	&__imagediv {
		figure {
			height: 100%;
			width: 100%;

			display: flex;
		}
	}

	&--img {
		width: 100%;
		max-height: 16rem;
		object-fit: cover;
		object-position: top;
		aspect-ratio: 16/9;
		margin: auto auto;
	}

	&__main {
		color: white;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		// align-items: center;
		justify-content: center;

		gap: 1.2rem;

		h3 {
			font-size: 1.2rem;
			font-weight: 600;
		}
	}

	&__infos {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	&__stackgroup {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;

		p {
			font-weight: 400;
			font-size: 1rem;
			color: rgba($color: $secondary, $alpha: 0.7);
			font-weight: 500;
		}
	}

	&--description {
		font-size: 0.95rem;
		color: #8893b1;
	}

	&--a {
		background-color: transparent;
		border: 1px solid $secondary;
		width: fit-content;
		padding: 0.3rem 1rem;
		font-size: 0.9rem;
		transition: 0.3s ease;

		&:hover {
			background-color: $secondary;
			color: $secandary_background-color;
		}
	}

	hr {
		height: 2px;
		background-color: rgba($color: $secondary, $alpha: 0.8);
		border: none;
		margin-top: 2rem;
		width: 80%;
		margin-inline: auto;
		transition: 0.5s ease-out;
	}
}
