@use '../abstracts/' as *;

.footer {
	text-align: center;
	padding: 1.5rem 0;
	background-color: #040516;
	color: white;
	margin-top: 3rem;

	span {
		font-size: 0.8rem;
		font-family: $fira-code;

		@include devices(tablet) {
			font-size: 0.95rem;
		}
	}
}
