@use './colors' as *;

body {
  overflow-x: hidden;
  background-color: $bg-color;
  cursor: url('/assets/bestCursor.png'), auto;

  ::selection {
    color: #ffffff;
    background-color: #760276;
  }
}

a:hover,
button:hover {
  cursor: url('/assets/hover-white.png'), auto;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: $secondary #c5c2c2;
}

html::-webkit-scrollbar {
  width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba($color: $secondary, $alpha: 1);
  border-radius: 3rem;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: rgba($color: $secondary, $alpha: 1);
}

html::-webkit-scrollbar-track {
  background-color: #d8d7d7;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $white;
}

ul {
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  display: block;
}
