$tomatoBold: 'Tomato Grotesk bold';

h1,
h2,
h3,
h4,
h5 {
  font-size: 1rem;
}

@font-face {
  font-family: 'Tomato Grotesk bold';
  src: url('/fonts/TomatoGrotesk-Bold.otf');
  font-style: medium;
  font-weight: bold;
  font-display: swap;
}
